In [2]:
import pandas as pd
import dask.dataframe as dd
from dask.distributed import Client, LocalCluster

In [4]:
cluster = LocalCluster(n_workers=5)  # Create a local cluster  
#cluster.adapt(minimum=10, maximum=20)
client = Client(cluster)
client

In [5]:
flights_data_dask = dd.read_csv("D:/TFG/airline.csv.shuffle",  encoding='latin-1', dtype={'CRSElapsedTime': 'float64', 'Distance': 'float64', 'Dest': 'string', 'Origin': 'string'})
ICAO_dask = dd.read_csv("C:/Users/Miguel/Desktop/TFG/airport-codes_csv.csv",  encoding='latin-1',dtype={'continent': 'string', 'elevation_ft': 'float64','iata_code': 'string'})

In [6]:
flights_data_dask.head(5)

,ActualElapsedTime,AirTime,ArrDelay,ArrTime,CRSArrTime,CRSDepTime,CRSElapsedTime,CancellationCode,Cancelled,CarrierDelay,...,Month,NASDelay,Origin,SecurityDelay,TailNum,TaxiIn,TaxiOut,UniqueCarrier,WeatherDelay,Year
0,53.0,32.0,-8.0,1642.0,1650,1545,65.0,NaN,0,NaN,...,10,NaN,DCA,NaN,N443US,7.0,14.0,US,NaN,2002
1,164.0,155.0,-11.0,1754.0,1805,1610,175.0,NaN,0,NaN,...,12,NaN,MCO,NaN,N755,2.0,7.0,WN,NaN,1999
2,60.0,NaN,15.0,2005.0,1950,1850,60.0,NaN,0,NaN,...,12,NaN,ATL,NaN,NaN,NaN,NaN,DL,NaN,1993
3,51.0,NaN,-5.0,1818.0,1823,1728,55.0,NaN,0,NaN,...,9,NaN,MEM,NaN,NaN,NaN,NaN,AA,NaN,1989
4,45.0,29.0,2.0,1120.0,1118,1030,48.0,NaN,0,0.0,...,6,0.0,CVG,0.0,N785CA,3.0,13.0,OH,0.0,2006

In [7]:
ICAO_dask.head(5)

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
0,00A,heliport,Total Rf Heliport,11.0,<NA>,US,US-PA,Bensalem,00A,<NA>,00A,"-74.93360137939453, 40.07080078125"
1,00AA,small_airport,Aero B Ranch Airport,3435.0,<NA>,US,US-KS,Leoti,00AA,<NA>,00AA,"-101.473911, 38.704022"
2,00AK,small_airport,Lowell Field,450.0,<NA>,US,US-AK,Anchor Point,00AK,<NA>,00AK,"-151.695999146, 59.94919968"
3,00AL,small_airport,Epps Airpark,820.0,<NA>,US,US-AL,Harvest,00AL,<NA>,00AL,"-86.77030181884766, 34.86479949951172"
4,00AR,closed,Newport Hospital & Clinic Heliport,237.0,<NA>,US,US-AR,Newport,NaN,<NA>,NaN,"-91.254898, 35.6087"

In [16]:
data_dask = flights_data_dask[["Year", "Month", "DayofMonth", "FlightNum", "DayOfWeek", "ArrDelay", "DepDelay", "Origin", "Dest", "Cancelled", "UniqueCarrier"]]

In [17]:
data_dask = data_dask.merge(ICAO_dask[["iata_code","municipality"]], left_on="Dest", right_on="iata_code", suffixes=("_Dest","_Origin"), how = "inner")
data_dask = data_dask.merge(ICAO_dask[["iata_code","municipality"]], left_on="Origin", right_on="iata_code", suffixes=("_Dest","_Origin"), how = "inner")

In [18]:
data_dask = data_dask[["Year", "Month", "DayofMonth", "FlightNum", "DayOfWeek", "ArrDelay", "DepDelay", "Origin", "Dest", "Cancelled", "municipality_Dest", "municipality_Origin", "UniqueCarrier"]]

In [19]:
data_dask = data_dask.loc[data_dask["Year"] >= 1990]

In [20]:
data_dask.corr(numeric_only = True).compute()

,Year,Month,DayofMonth,FlightNum,DayOfWeek,ArrDelay,DepDelay,Cancelled
Year,1.000000,-0.005024,0.000610,0.365024,-0.000298,0.020717,0.034415,0.018847
Month,-0.005024,1.000000,0.006870,-0.002614,0.001171,-0.008785,-0.005621,-0.015424
DayofMonth,0.000610,0.006870,1.000000,0.000204,-0.000386,0.008035,0.009223,-0.005276
FlightNum,0.365024,-0.002614,0.000204,1.000000,0.001265,0.013053,0.018333,0.031352
DayOfWeek,-0.000298,0.001171,-0.000386,0.001265,1.000000,0.000444,0.013200,-0.011831
ArrDelay,0.020717,-0.008785,0.008035,0.013053,0.000444,1.000000,0.874948,NaN
DepDelay,0.034415,-0.005621,0.009223,0.018333,0.013200,0.874948,1.000000,0.004460
Cancelled,0.018847,-0.015424,-0.005276,0.031352,-0.011831,NaN,0.004460,1.000000

In [12]:
def dias_semana_letra(valor):
    if valor == 1:
        return 'Monday'
    if valor == 2:
        return 'Tuesday'
    if valor == 3:
        return 'Friday'
    if valor == 4:
        return 'Thursday'
    if valor == 5:
        return 'Wednesday'
    if valor == 6:
        return 'Saturday'
    if valor == 7:
        return 'Sunday'
    return 0

# Aplicar la función a la columna
data_dask['DayOfWeek'] = data_dask['DayOfWeek'].apply(dias_semana_letra, meta=('DayOfWeek', 'string'))
data_dask.head(5)

,Year,Month,DayofMonth,FlightNum,DayOfWeek,ArrDelay,DepDelay,Origin,Dest,Cancelled,municipality_Dest,municipality_Origin,UniqueCarrier
0,2002,10,10,209,Thursday,-8.0,4.0,DCA,PIT,0,Pittsburgh,Washington,US
1,1999,12,2,109,Thursday,-11.0,0.0,MCO,MCI,0,Kansas City,Orlando,WN
2,1993,12,10,1276,Wednesday,15.0,15.0,ATL,CLT,0,Charlotte,Atlanta,DL
4,2006,6,19,5873,Monday,2.0,5.0,CVG,CMH,0,Columbus,Cincinnati / Covington,OH
5,1997,1,2,353,Thursday,2.0,0.0,MYR,CLT,0,Charlotte,Myrtle Beach,US

In [13]:
def meses_letra(valor):
    if valor == 1:
        return 'January'
    if valor == 2:
        return 'February'
    if valor == 3:
        return 'March'
    if valor == 4:
        return 'April'
    if valor == 5:
        return 'May'
    if valor == 6:
        return 'June'
    if valor == 7:
        return 'July'
    if valor == 8:
        return 'August'
    if valor == 9:
        return 'September'
    if valor == 10:
        return 'October'
    if valor == 11:
        return 'November'
    if valor == 12:
        return 'December'
    return 0

# Aplicar la función a la columna
data_dask['Month'] = data_dask['Month'].apply(meses_letra, meta=('Month', 'string'))
data_dask.head(5)

,Year,Month,DayofMonth,FlightNum,DayOfWeek,ArrDelay,DepDelay,Origin,Dest,Cancelled,municipality_Dest,municipality_Origin,UniqueCarrier
0,2002,October,10,209,Thursday,-8.0,4.0,DCA,PIT,0,Pittsburgh,Washington,US
1,1999,December,2,109,Thursday,-11.0,0.0,MCO,MCI,0,Kansas City,Orlando,WN
2,1993,December,10,1276,Wednesday,15.0,15.0,ATL,CLT,0,Charlotte,Atlanta,DL
4,2006,June,19,5873,Monday,2.0,5.0,CVG,CMH,0,Columbus,Cincinnati / Covington,OH
5,1997,January,2,353,Thursday,2.0,0.0,MYR,CLT,0,Charlotte,Myrtle Beach,US

In [22]:
data_dask.to_sql("vuelos", "mysql+pymysql://root:root@127.0.0.1:3306/tfg?charset=utf8mb4", schema = 'tfg', if_exists = "append", index = False)